[user]
  email = rodrigo@wyeworks.com
  name = Rodrigo Ponce de León

[alias]
  ch = checkout
  st = status
  br = branch
  unstage = reset HEAD --
  discard = checkout --
  d = !git discard
  u = !git unstage
  go = !git reset --hard origin/`git symbolic-ref --short HEAD`
  gogo = !git fetch && git go

[push]
  default = simple

[pager]
  grep = cat

[rebase]
  autosquash = true
[core]
  excludesfile = /Users/rodrigo/.gitignore_global
[stash]
  showPatch = true
