[user]
  email = rodrigo@wyeworks.com
  name = Rodrigo Ponce de León

[alias]
  ch = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  unstage = reset HEAD --
  discard = checkout --
  go = !git reset --hard origin/`git symbolic-ref --short HEAD`

[push]
  default = simple

[pager]
  grep = cat

[rebase]
  autosquash = true
